.idea/
*target/
*.iml
*.ipr
*.iws
.DS_Store
*.pyc
*~
\#*
*.swp
*.svn
TEST*.xml
*/null/
atlassian-ide-plugin.xml
.classpath
.project
.settings
*/.classpath
*/.project
*/.settings
bin
jacoco-unit.exec
.springBeans
activemq-data
*.input
jacoco-it.exec
